p {
  margin: 0;
}
li:hover {
  background-color: #f99e1a;
  color: white;
  -webkit-transition: background-color 1s ease-out, color 200ms ease-in;
  -moz-transition: background-color 1s ease-out, color 200ms ease-in;
  -o-transition: background-color 1s ease-out, color 200ms ease-in;
  transition: background-color 1s ease-out, color 200ms ease-in;
}

#suggestedTags {
  list-style: none;
  padding: 0;
  position: absolute;
  width: 50vw;
  z-index: 1000;
  background-color: white;
  margin-top: -25px;
}

.table td, .table th {
  text-align: center !important;
  vertical-align: middle !important;
}

.btn-outline-success {
  color: white;
  background-color: #28a745;
  background-image: none;
  border-color: #28a745;
}