<div class="container" [style.opacity]="opacity" [style.z-index]="zIndex">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
              (click)="hideRanks();"
              style="outline:none;">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 style="text-align:center;">Ranking System</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <table class="table table-striped text-center">
        <tbody>
          <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>Range</th>
          </tr>
          <tr *ngFor="let rank of ranks">
            <td><img src="../../assets/ranks/{{rank.icon}}.png" alt="{{rank.name}}"></td>
            <td><span>{{rank.name}}</span></td>
            <td><span>{{rank.range}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>